<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b54ff4dc-50ff-4a85-8b1c-d4f984764f7a/resourcegroups/WeatherForecastAPI20240725112310ResourceGroup/providers/Microsoft.ContainerRegistry/registries/WeatherForecastAPI20240725112310</ResourceId>
    <ResourceName>WeatherForecastAPI20240725112310</ResourceName>
    <ResourceGroup>WeatherForecastAPI20240725112310ResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://weatherforecastapi20240725112310.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3eb38371-3345-41a8-85c3-4f793b7628aa</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>